@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
  background: linear-gradient(to bottom, #c7ad2a, #cb8926); 
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  height: 75px;
  padding: 0 10px;
  margin: 0px 0px 25px 0px;
  font-size: xx-large;
  font-weight: 600;
  background-color: rgb(225, 166, 234);
  font-family: 'Indie Flower', cursive;
}

.logGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.logItem {
  width: 200px;
  height: auto; 
  margin: 10px;
  padding: 20px;
  border: 5px solid white;
  background-color: rgba(255, 255, 255, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logImg {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}


.home-image {
  position: absolute; 
  opacity: 80%;
  top: 8%; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 900px; 
  height: 450px; 
  box-shadow: 20px 20px 19px 19px white inset;
}

.text-container {
  position: absolute;
  top: calc(20px + 400px + 90px);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #72199f;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.135);
  font-size: 15px;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.input-container {
  margin-top: 20px;
}



.input-container input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container button {
  background-color: #763aba; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #7d54b7; 
}

.wishlistGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.wishlistGrid li {
  width: 200px;
  height: auto; 
  margin: 10px;
  padding: 20px;
  border: 5px solid white;
  background-color: rgba(255, 255, 255, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wishlistGrid img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}


h1 {
  font-family: 'Indie Flower', cursive; 
}


.titleAndIconContainer {
  display: flex;
  align-items: center;
}


.reviewslogImg {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

.date {
  font-family: 'Indie Flower', cursive;
  color: #72199f;
  font-size: 30px;
}

.dateContainer {
  width: auto; 
  height: auto;
  margin-right: -600px; 
  padding: 20px;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-card {
  border-radius: 10px;
  box-shadow: 0px 20px 500px rgba(28, 105, 135, 0.289);
  padding: 50px;
  width: 300px;
}

.signin-form .form-group {
  margin-bottom: 20px;
}

.signin-form label {
  font-weight: bold;
}

.signin-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-signin {
  background-color: #2e8896;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-signin:hover {
  background-color: #65c5db;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
  padding-top: 20vh; 
}

h4 {
  font-family: 'Indie Flower', cursive; 
  text-align: center;
  position: absolute;
  margin-top: -10vh;
  font-size: 65px;
  color: rgb(226, 247, 255)
}

.reviewEntry {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviewImage {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

/* .reviewContent {
  flex-grow: 1;
} */

.reviewContent h2 {
  margin-top: 0;
}

.reviewContent .date {
  color: #666;
  margin-bottom: 10px;
}


.review-details-container {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

.review-image {
  position: absolute;
  top: 150px; 
  left: 150px;
  width: 5%; 
  height: 150%; 
  object-fit: cover;
}

.review-content {
  margin-left: 10%;
  margin-top: 10%;
  font-family: 'Indie Flower', cursive;
  color: #72199f;
  font-size: 30px;
}

.written-review {
  clear: left; 
  width: calc(100% - (10% + 20px)); 
  font-size: 20px;
  padding: 30px; 
  border: 2px solid #72199f; 
  border-radius: 10px; 
  background-color: #f7f7f7; 
  margin-top: 220px; 
  margin-left: 3%;
  text-align: left;
  line-height: 2;
}

.review-delete-button{
  position: absolute;
  bottom: 710px; 
  left: 94%; 
  transform: translateX(-50%);
}


.reviewslogGrid {
  justify-content: center;
  margin: 100px;
}

.reviewentry {
  width: 600px;
  height: auto; 
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.titledate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
  bottom: 250px; 
  left: 70%;
}

.trending-header {
  margin-top: 640px;
  color: #4e136c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.trendingimages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.track {
  font-family: 'Indie Flower', cursive; 
  font-size: 30px;
}











